<p id="notice"><%= notice %></p>

<h1>Tournaments</h1>

<ul class="list-group">
  <% @tournaments.each do |tournament| %>
    <li class="list-group-item"><%= link_to tournament.name + " " + tournament.event, tournament %></li>
  <% end %>
</ul>
<br>

<%= link_to 'New Tournament', new_tournament_path %>
