<p id="notice"><%= notice %></p>

<%= react_component("Match", {match: @match, player1: @player1, player2: @player2, player1_picks: @player1_picks, player2_picks: @player2_picks, matchsets: @matchsets}, {prerender: true}) %>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
