/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.card-header-player1{
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background: linear-gradient(to left, #ffffff, #009ee2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* seriously, why does scss work here but not in individual ones? */

.card-header-player2{
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background: linear-gradient(90deg, #ffffff, #ff0fa9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-player1{
  color: #009ee2;
  border-color: #009ee2;
  background-color: #ffffff;
}

.btn-player1:hover{
  color: #ffffff;
  background-color: #009ee2;
}

.btn-player1-active{
  color: #ffffff;
  background-color: #009ee2;
}

.btn-player2{
  color: #ff0fa9;
  border-color: #ff0fa9;
  background-color: #ffffff;
}

.btn-player2:hover{
  color: #ffffff;
  background-color: #ff0fa9;
}

.btn-player2-active{
  color: #ffffff;
  background-color: #ff0fa9;
}

.card-header-player1{
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: linear-gradient(to right, #ffffff, #ff0fa9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-player2{
  color: linear-gradient(to right, #ffffff, #ff0fa9)
}
